.formCustomization {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerCreateAccount {
  width: 100%;
}

.formCustomization img {
  width: 3rem;
}

.formCustomization input {
  border: none;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.inputFieldContainer input {
  border: none;
}

.inputUserId {
  padding-top: 2rem;
}

.input img {
  border-radius: 100%;
  width: 5rem;
}

.messageContainer span {
  font-size: 4rem;
}

.messageContainer img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.inputFile {
  padding: 0;
}
