.btnChat {
  border: 1px solid black;
  font-size: 2rem;

  background-color: white;
}

.geralContent {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

body {
  background: linear-gradient(to right, #00002e, white);
}

.geralContent h6 {
  font-size: 2rem;
  color: navy;
  font-weight: 700;
}

.homepageCustomization {
  width: 100%;
  max-width: 50rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.friendCustomization {
  background-color: red;
}

.homepageCustomization button {
  width: 100%;
  color: navy;
}

/* .test {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.test img {
  max-width: 30vw;
  width: 30vw;
  min-height: 50vh;
  max-height: 50vh;
  position: absolute;
  z-index: 1;
}
.firstImg {
  left: 0;

  transform: scaleY(-1);
}

.secondImg {
  right: 0;
}

.thirdImg {
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}

.fourthImg {
  left: 0;
  bottom: 0;
} */
