.btnChat {
  border: 1px solid black;
  font-size: 2rem;

  background-color: white;
}

.geralContent {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background-color: pink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geralContent h6 {
  font-size: 2rem;
  color: navy;
  font-weight: 700;
}

.homepageCustomization {
  width: 100%;
  max-width: 50rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.friendCustomization {
  background-color: red;
}
