.displayUsers li {
  font-size: 2rem;
}

.displayUsers {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contentDispalyUsers {
  display: flex;
  gap: 1rem;
}

.geralContentUsers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.geralContent {
  width: 100%;
}
