.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #00002e, white);

  padding: 0;
}

input {
  padding-left: 10px;
}

input::placeholder {
  font-size: 1.3rem;
}

.ContainerAuth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* font-weight: 700;
  border: 1px solid black;
  font-size: 4.5rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 1rem; */
}
.contentAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5rem;
}

.contentAuth input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1px solid gainsboro;
  border-width: 0.1px;
  width: 25rem;
}

.contentAuth span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contentAuth h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
/* ===============================

contentLeft

=============================== */

.contentLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: right;
}

.contentLeft p {
  max-width: 75%;
  margin: 0 auto;
  font-weight: 700;
  color: black;
  display: flex;
  font-size: 4rem;
  color: white;
}

.contentLeft h1 {
  width: 75%;
  max-width: 75%;
  color: white;
  font-size: 8rem;
  display: flex;
  justify-content: center;
}

/* ===============================

contentRight

=============================== */

.contentRight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40%;
}

.btnSwitch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 50%;
  max-height: 50%;
  width: 100%;
}

.subContentRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-top: 3rem;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btnAuthentication {
  width: 26rem;
}

.btnAuthentication button {
  font-size: 1.5rem;
  background-color: navy;
  color: white;
  width: 100%;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 2rem;
  box-sizing: border-box;
}

.input {
  width: 100%;
}

.subContentRight input {
  width: 100%;
}

.mainContainer {
  position: relative;
}

.firstImg,
.secondImg,
.thirdImg,
.fourthImg {
  width: 30vw;
  min-height: 50vh;
  max-height: 50vh;
  position: absolute;
  z-index: 1;
}

.firstImg {
  left: 0;

  transform: scaleY(-1);
}

.secondImg {
  right: 0;
}

.thirdImg {
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}

.fourthImg {
  left: 0;
  bottom: 0;
}

@keyframes slideOutAndIn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 630px) {
  .contentAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentLeft p {
    min-width: 5%;

    font-size: 2rem;
  }

  .contentLeft h1 {
    font-size: 4rem;
  }

  .contentLeft {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    height: 40vh;
    width: 100%;
  }
}

/* .mainContainer {
  position: relative;
}

.mainContainer img {
  width: 30vw;
  min-height: 50vh;
  max-height: 50vh;
  position: absolute;
  z-index: 1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.firstImg {
  left: 0;
  animation: slideOutAndIn 4s ease-in-out infinite;
  transform: scaleY(-1);
}

.secondImg {
  right: 0;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.thirdImg {
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}

.fourthImg {
  left: 0;
  bottom: 0;
  animation: slideOutAndIn 4s ease-in-out infinite;
}

@keyframes slideOutAndIn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0);
  }
} */
