.mainContainer {
  width: 100%;
  max-width: 50em;
  height: 100vh;
  display: flex;
  background-color: #f2f4f7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow-y: hidden;
}

input {
  padding-left: 10px;
}

input::placeholder {
  font-size: 1.3rem;
}

/* .geralStyle img {
  width: 5rem;

  border-radius: 100%;
} */

/* ====================

left

==================== */
/* .leftContainer {
  height: 100vh;
  display: flex;
  width: 50vw;
  color: black;
  align-items: center;
}

.contentLeft {
  font-size: 2.5rem;
  width: 35rem;
  display: flex;
  flex-direction: column;

  padding: 0 12.5rem;
}
.contentLeft h1 {
  font-size: 9rem;
}

.contentLeft span {
  color: black;
  font-weight: 600;
  width: 70vw;
}

.contentLeft {
  color: navy;
} */
/* ====================

right

==================== */

.ContainerAuth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;

  /* font-weight: 700;
  border: 1px solid black;
  font-size: 4.5rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 1rem; */
}
.contentAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3.5rem; */
}

.contentAuth input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1px solid gainsboro;
  border-width: 0.1px;
}

.contentAuth span {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
}

.contentAuth h6 {
  font-size: 1.5rem;
  font-weight: 700;
}

.contentTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 50vh;
}

.contentBottom {
  max-width: 50vh;
}

.contentTop span {
  max-width: 85%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentTop h1 {
  color: navy;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.contentTop span {
  display: flex;
  gap: 4rem;
}

.btnSwitch {
  padding-top: 5rem;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btnAuthentication {
  width: 100%;
}

.btnAuthentication button {
  font-size: 1.5rem;
  background-color: navy;
  color: white;
  width: 100%;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 2rem;
  box-sizing: border-box;
}

.input {
  width: 100%;
}

.subContentRight {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.subContentRight input {
  width: 100%;
}

/* ====================

mobile

==================== */

@media (max-width: 40rem) {
  input {
    max-width: 35rem;
  }

  .contentAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  input {
    max-width: 30rem;
    border: none;
    border-top: 2px solid black;
    display: flex;
    gap: 1rem;
  }

  button {
    width: 30rem;
  }

  link button {
    width: 100vw;
  }

  .geralContent {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .btnAuthentication {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }
}
