.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f2f4f7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

input {
  padding-left: 10px;
}

input::placeholder {
  font-size: 1.3rem;
}

.ContainerAuth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* font-weight: 700;
  border: 1px solid black;
  font-size: 4.5rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 1rem; */
}
.contentAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5rem;
}

.contentAuth input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1px solid gainsboro;
  border-width: 0.1px;
}

.contentAuth span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contentAuth h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
/* ===============================

contentLeft

=============================== */

.contentLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 60%;

  max-height: 30vh;
}

.contentLeft p {
  max-width: 75%;
  margin: 0 auto;
  font-weight: 700;
  color: black;
  display: flex;
  font-size: 4rem;
}

.contentLeft h1 {
  color: navy;
  font-size: 8rem;
  display: flex;
  justify-content: center;
}

/* ===============================

contentRight

=============================== */

.contentRight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40%;
}

.btnSwitch {
  display: flex;
  gap: 2rem;
  height: 50%;
  max-height: 50%;
}

.subContentRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-top: 3rem;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btnAuthentication {
  width: 100%;
}

.btnAuthentication button {
  font-size: 1.5rem;
  background-color: navy;
  color: white;
  width: 100%;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 2rem;
  box-sizing: border-box;
}

.input {
  width: 100%;
}

.subContentRight input {
  width: 100%;
}

@media only screen and (max-width: 768px) {
}
