* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* .addRemove {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: black;
} */

button {
  height: 50px;

  border: 1px solid black;
  /* background-color: black; */
  cursor: pointer;
}

* {
  color: black;
}

.test {
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
}
